@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  height: 100%;
  width: 100%;
  font-family: "Rubik", Tahoma, Geneva, Verdana, sans-serif;
  background-color: ghostwhite;
}


.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

img {
    width: 12.5em;
    height: auto;
}

