body {
    background-color: ghostwhite;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

img {
    width: 12.5em;
    height: auto;
}